body {
	background: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: column nowrap;
}
strong {
	font-weight: 700;
}
header {
	background: #283593;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	width: 100%;
	z-index: 1;
}
#headWrap {
	max-width: 720px;
	margin: 10px auto;
}
#logo {
	font-size: 40px;
	margin-bottom: 5px;
	padding: 0;
	text-align: center;
}
#logo a {
	color: white;
	font-family: 'Bree Serif', Georgia, serif;
	font-weight: normal;
	text-decoration: none;
}
#logo a:hover {
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
form {
	display: flex;
	flex-flow: row nowrap;
	margin: 0 10px;
}
form * {
	padding: 1em;
	flex: 1 1 100%;
	font-size: 1em;
	overflow: hidden;
	border: none;
	border-radius: 0.25em;
}
#divisor {
	flex: 1 1 35%;
}
#placeValues {
	flex: 1 1 35%;
	margin-left: 10px;
	margin-right: 10px;
}
#submitButton {
	flex: 1 1 15%;
	border: none;
	background: linear-gradient(#9FA8DA, #7986CB);
	color: white;
	font-weight: 700;
	min-width: 60px;
	cursor: pointer;
}
#submitButton:hover {
	background: #9FA8DA;
}
#submitButton:active {
	background: #7986CB;
}
main {
	flex-grow: 1;
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	padding-bottom: 40px;
}
#info {
	margin: 20px;
	padding: 20px 20px 10px;
	max-width: 720px;
	background: #e1e2e1;
	border-radius: 5px;
	color: #424242;
}
#info li {
	line-height: 120%;
	list-style-type: decimal;
	margin: 10px 0;
	margin-left: 25px;
}
ul {
	list-style: none;
	padding: 0;
	width: 100%;
}
ul li {
	display: block;
	list-style: none;
	padding: 10px;
	background: #e1e2e1;
	color: #424242;
	font-size: 1.5em;
	text-align: center;
}
ul li:nth-child(even) {
	background: #f5f5f5;
}
footer {
	align-items: center;
	background: #333;
	position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
}
footer a {
	color: rgba(255, 255, 255, 0.4);
	text-decoration: none;
}
footer img {
	height: 20px;
	margin: 10px 0 7px;
	opacity: 0.25;
}
footer img:hover {
	opacity: 0.5;
}
footer img:active {
	opacity: 0.3;
}
