/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: white;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: column nowrap;
}
* {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}
strong {
	font-weight: 700;
}
.alignCenter {
	text-align: center;
}
header {
	padding: 5px 10px 10px;
	background: #283593;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	position: fixed;
	width: 100%;
}
#headWrap {
	max-width: 720px;
	margin: 0 auto;
}
#logo {
	text-align: center;
	font-size: 40px;
	margin-bottom: 5px;
	padding: 0;
}
#logo a {
	font-family: 'Bree Serif', Georgia, serif;
	font-weight: normal;
	color: white;
	/*text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);*/
	text-decoration: none;
}
#logo a:hover {
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
form {
	display: flex;
	flex-flow: row nowrap;
}
form * {
	padding: 12px;
	margin: 0;
	flex: 1 1 100%;
	font-size: 16px;
	overflow: hidden;
	border: none;
	border-radius: 0.25em;
}
#divisor {
	flex: 1 1 35%;
}
#placeValues {
	flex: 1 1 35%;
	margin-left: 10px;
	margin-right: 10px;
}
#submitButton {
	flex: 1 1 15%;
	border: none;
	background: linear-gradient(#9FA8DA, #7986CB);
	color: white;
	font-weight: 700;
	min-width: 50px;
	cursor: pointer;
}
#submitButton:hover {
	background: #9FA8DA;
}
#submitButton:active {
	background: #7986CB;
}
main {
	padding: default 0 0.5em;
	flex-grow: 1;
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
}
#info {
	margin: 120px 10px 10px;
	padding: 20px 20px 10px;
	max-width: 720px;
	flex: 0 96%;
	background: #e1e2e1;
	border-radius: 5px;
	color: #424242;
}
#info li {
	list-style-type: decimal;
	margin: 10px 0;
	margin-left: 25px;
}
ul {
	list-style: none;
	margin-top: 106px;
	padding: 0;
	width: 100%;
}
ul li {
	display: block;
	list-style: none;
	padding: 10px;
	background: #e1e2e1;
	color: #424242;
	font-size: 1.5em;
	text-align: center;
}
ul li:nth-child(even) {
	background: #f5f5f5;
}
footer {
	text-align: center;
	width: 100%;
	background: #333;
	position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}
footer a {
	padding: 0.5em 0 0.25em;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.4);
}
footer img {
	height: 1.25em;
	opacity: 0.25;
}
footer img:hover {
	opacity: 0.5;
}
footer img:active {
	opacity: 0.3;
}
